<div class="max-content flex-center column">
  <h1>403: Not allowed</h1>
  <p>Sorry, you are not allowed to access this page.</p>

  <div class="btns actions">
    <%= link_to "Go back", root_path %>
  </div>
</div>