<div class="max-content  column splash">
  <div class="flex-center max-content-flex">
    <h1>SpendWise</h1>
  </div>
  <div class="max-width column gap btns">
    <%= link_to "Register", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
  </div>
</div>