.payements {
  padding: 12px;
}

.payements h3 {
  padding: 8px;
  align-items: center;
}

.payements hr {
  margin: auto;
  width: 90%;
  border-bottom: 1px solid #d3d3d3;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.payement {
  margin: 16px;
  padding-bottom: 12px;
  border-bottom: 0.6px solid #d3d3d3;
}

.payement .description {
  margin-top: 6px;
  font-size: 0.8rem;
  align-items: center;
  color: var(--color-background-dark);
}

.payements .total {
  padding: 16px;
}