<div id="<%= dom_id categorie %>">
  <p>
    <strong>Name:</strong>
    <%= categorie.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= categorie.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= categorie.user_id %>
  </p>

</div>
